@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

html {
  font-size: 18px;
}


 body {
   background: #fdfdfd;
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   color: #111;
   padding: 0 2rem;
 }

 .content {
   margin: 0 auto;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto 5rem;
 }

 .menu a {
   text-decoration: none;
   padding: 0.5rem;
   color: #111;
 }

 footer {
   padding: 1.5rem 0;
 }

 .error-page h2,p {
   font-weight: 800;
 }