.container {

  min-height: 100vh;
  padding: 4rem 0;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  text-decoration: none;
}

.title:hover,
.title:focus,
.title:active {
  text-decoration: underline;
  text-underline-offset: 10px;
  -ms-text-underline-offset: 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}


@media (max-width: 600px) {

}
